<script type="text/ng-template" id="loading.html">
    <div widget-item>
        <div widget-sub-text>
            Loading...
        </div>
    </div>
</script>

<script type="text/ng-template" id="main.html">

  	<!-- PROMPT USER FOR COURSE CODE-->
 	 <div widget-section-header>Enter Course Code:</div>
  		<div widget-item>
      		<form class="form-inline" ng-submit="insertData()">
       		   	<div class="input-group" style="width: 100%;">
                    <input type="text" class="form-control" ng-model="insertValue.value" placeholder="Course code:" />
                    <span class="input-group-btn" style="overflow:hidden;">
                        <button class="btn btn-primary glyphicon glyphicon glyphicon-ok btn" type="submit" style="margin-top: -1px;">
                        </button>
                    </span>
                </div>
            </form>
  		</div>
  	<div widget-item ng-repeat="item in extLink.data">{{item}}</div>
    <div widget-item link="http://www.ucalendar.uwaterloo.ca/1516/COURSE/course-{{item.subject}}.html" ng-repeat="item in apiData.data | filterBy: ['subject'] : insertValue.value track by $index"> {{item.subject}} - {{item.description}}</div>
  	
  <!--startsWith:-->
  
  	<!-- OPEN DATA API ACCESS-->  
  
	<div widget-section-header>Course Codes and Descriptions</div>
    <div widget-item ng-if="apiData.error">
        <div widget-sub-text>{{apiData.error}}</div>
    </div>
    <div widget-item ng-if="!apiData.error">
        <div widget-sub-text>List of Course Descriptions:</div>
      	<!--<div widget-text ng-repeat="item in apiData.data">{{item.subject}}</div>
      	<div widget-text ng-repeat="item in apiData.data">{{item.description}}</div>-->
  	</div>
  
</script>
  
  
<!--  
<script type="text/ng-template" id="main.html">

    
    <div widget-section-header>Database test</div>
    <div ng-if="dbData.error">
        <div widget-item>
            <div widget-text>{{dbData.error}}, <a ng-click="createTable()">create table</a>.</div>
        </div>
    </div>
    <div ng-if="!dbData.error">
        <div widget-item>
            <form class="form-inline" ng-submit="insertData()">
                <div class="input-group" style="width: 100%;">
                    <input type="text" class="form-control" ng-model="insertValue.value" placeholder="Enter some text and submit" />
                    <span class="input-group-btn" style="overflow:hidden;">
                        <button class="btn btn-primary glyphicon glyphicon glyphicon-ok btn" type="submit" style="margin-top: -1px;">
                        </button>
                    </span>
                </div>
            </form>
        </div>

        <div widget-item ng-repeat="item in dbData">
            <div widget-text>Id: {{item.id}}</div>
            <div widget-text>UserId: {{item.userId}}</div>
            <div widget-text>Value: {{item.value}}</div>
        </div>
    </div>
    

    <div widget-section-header>Details View Example</div>
    <div widget-item icon-right="icon-angle-right" ng-click="showView2()" button>
        <div widget-text>This view is displayed in column 1</div>
        <div widget-sub-text>Click here to show view 2 in column 2</div>
    </div>

   

    <div widget-section-header>Open Data API Example</div>
    <div widget-item ng-if="openDataExampleData.error">
        <div widget-sub-text>{{openDataExampleData.error}}</div>
    </div>
    <div widget-item ng-if="!openDataExampleData.error">
        <div widget-sub-text>List of Course Descriptions:</div>
      	<div widget-text ng-repeat="item in openDataExampleData.data">{{item.subject}}</div>
      	<div widget-text ng-repeat="item in openDataExampleData.data">{{item.description}}</div>
    </div>

    

    <div widget-section-header>Title</div>
    <div ng-repeat="l in links['Student Services']">
        <div widget-item button icon-right="icon-link-ext" link="{{::l.Item2}}">
            <div widget-text>{{::l.Item1}}</div>
        </div>
    </div>

    

    <div widget-section-header>CSS test</div>
    <div widget-item>
        <span id="cssTest">This is a CSS test</span>
    </div>
</script>



<script type="text/ng-template" id="view2.html">
    <div widget-section-header>View 2</div>
    <div widget-item icon-right="icon-angle-right" ng-click="showView3()" button>
        <div widget-text>This view is displayed in column 2</div>
        <div widget-sub-text>Click here to show view 3 in column 3</div>
    </div>
</script>

<script type="text/ng-template" id="view3.html">
    <div widget-section-header>View 3</div>
    <div widget-item>
        <div widget-text>This view is displayed in column 3</div>
    </div>
</script> 
-->